@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}
