.addSection {
  background: #000;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 2rem;
}

.card {
  background: #000;
  border-bottom: 1px solid #222;
  padding: 1.5rem 0;
  color: #fff;
}

.card:last-child {
  border-bottom: none;
}

.author {
  font-weight: 700;
  color: #fff;
  margin-right: 1rem;
}

.rating {
  color: #ff007f;
}
