.container {
  display: flex;
  width: 100%;
  border-color: #000;
  border-width: 5px;
}

.searchBox {
  flex-grow: 1;
}

.input {
  width: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  border: none;
  border-radius: 1.8px 0 0 1.8px;
  font-size: 1rem;
  outline: none;
  background-color: #111111;
  color: #c9c9c9;
}

.button {
  padding: 0 1.5rem;
  background-color: #111111;
  color: #b4b4b4;
  border: none;
  border-radius: 0 1.5px 1.5px 0;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 18px;
}

.button:hover {
  border-style: solid;
  border-color: #b4b4b4;
  border-width: 2px;
  transition: color 0.2s;
}
